body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.site-navigation,
.user-navigation,
.orders-list,
.nerds-list,
.projects-list,
.media-list,
.services-list,
.radio-list,
.advantages-list,
.catalog-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-header {
    background-color: #eeeeee;
}

.main-header h1 {
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    font-weight: 500;

    padding-bottom: 116px;
}   

.main-navigation-wrapper {
    width: 100%;
}

.main-header-logo {
    text-align: left;
    width: 160px;
    height: 65px;
    margin-top: 49px;
    margin-bottom: 36px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.site-navigation,
.user-navigation {
    display: flex;
    justify-content: space-between;
    
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    margin-top: 83px;
    margin-bottom: 36px;
}

.site-navigation {
    width: 440px;
}

.user-navigation {
    width: 115px;
    margin-right: 40px;
}

.site-navigation li {
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #fb565a;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.services {
    margin-right: 100px;
    margin-bottom: 80px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.service-item {
    width: 300px;
}

.service-item h4 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
}

.service-item p {
    color: #283136;
    max-width: 245px;
}


.button-link {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    
    max-height: 146px;
    margin-top: 35px;
    padding: 16px 45px;


    color: #ffffff;
    border-radius: 5px;
}

.button-link-red {
    background-color: #fb565a;
}

.button-link-green {
    background-color: #00ca74;
}

.button-link-yellow {
    background-color: #efc84a;
}

.nerds-bio {
    display: flex;
    justify-content: space-between;

    border-top: 2px solid #eeeeee;

    padding-top: 80px;
}

.about-us h2 {
font-size: 45px;
line-height: 45px;
font-weight: 500;
color: #000000;

max-width: 650px;
text-overflow: clip;
padding: 0;
margin-bottom: 35px;;
}

.about-us p {
font-size: 16px;
line-height: 24px;
color: #283136;
max-width: 616px;

margin-bottom: 47px;
}

.about-us h4 {
    line-height: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.orders-list li {
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    margin-top: 16px;
}

.orders-list li::before {
    content: "—";
    color: #fb565a;
    padding-right: 5px;
    margin: 0;
}

.about-nerds h4 {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 24px;
    padding-bottom: 0;
    margin: 0;
    margin-top: 41px;
}

.nerds-list li {
    display: inline-block;

    max-width: 95px;

    padding-right: 26px;
}

.info-percent {
    font-size: 45px;
    line-height: 45px;
    font-weight: bold;
}

.nerds-info {
    font-size: 16px;
    line-height: 18px;
    color: #283136;
}

.projects-list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    min-height: 180px;

    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;

    margin-top: 77px;
    

}

.projects-list li {
    padding-left: 20px;
    width: 300px;
}

.projects-list li:not(:nth-last-of-type(1)) {
    padding-right: 20px;
    border-right: 2px solid #eeeeee;
}

.find-head {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
}

.find-info {
line-height: 18px;
color: #666666;
}

.main-footer {
    display: flex;
    padding: 70px 0;
}

.media-list {
    display: flex;
    justify-content: space-between;

    min-width: 264px;

    margin-right: 140px;
}

.media-list li {
    width: 79px;
    height: 79px;

    background-color: #e1e1e1;
    border-radius: 50%;
}

.be-friends {
    min-height: 200px;
}

.be-friends p:nth-child(1){
    margin: 0;
    font-size: 32px;
    line-height: 32px;
    font-weight: bold;
}

.be-friends p:nth-child(2) {
    font-size: 16px;
    line-height: 22px;
    color: #444444;
}
  
.message-us h2 {
    font-size: 45px;
    line-height: 45px;
}

.message-us p {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
}

.button {
    font: inherit;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    color: #ffffff;
    vertical-align: middle;

    background-color: #fb565a;
    border: none;
    width: 260px;
    height: 50px;
    border-radius: 5px;
}

.button-message-us {
    width: 219px;
}

.button-show {

    font: inherit;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    line-height: 18px;
    vertical-align: middle;

    border: none;
    width: 260px;
    height: 50px;
    border-radius: 5px;

    background-color: #eeeeee;
    color: #000000;
    margin-top: 50px;
}

.button-show:hover,
.button-show:focus {
    background-color: #dfdfdf;
}

.button-show:active {
    background-color: #d5d5d5;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    
    box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

.button-sort {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;

    background-color: transparent;
    border: none;
}

.button-sort:hover,
.button-sort:focus {
    color:rgba(0, 0, 0, 0.6);
}

.button-sort:active {
    color: #000000;
}


.message-field input,
.message-field textarea {
    font: inherit;
    color: rgba(68, 68, 68, 0.5);
    background-color: transparent;
    border: solid 2px #d7dcde;
    border-radius: 3px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 260px;
}

.filters-value input {
    background-color: #eeeeee;
    border: none;
    border-radius: 2px;
}

.filters fieldset {
    border: none;
}

.filters legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.filters ul {
    line-height: 20px;
    color: #283136;
}

.filter-input:disabled + label {
    color: rgba(40, 49, 54, 0.3);
}

.catalog {
    width: 760px;
}

.sort-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}

.sort-container p {
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;

    margin: 0;
    padding: 0;

}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-item {
    width: 360px;
    
    margin-bottom: 33px;
}

.catalog-item img {
    padding: 0;
    margin: -5px;
}

.site-description {
    background-color: #eeeeee;
    width: 360px;
    padding-top: 35px;
    margin: 0;
    line-height: 18px;
    color: #666666;
    text-align: center;
}

.site-name a {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}

.site-name a:hover,
.site-name a:focus {
    color: #fb565a;
}

.site-name a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-price {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    
    max-width: 200px;
    margin-top: 30px;
    margin-bottom: 43px;

    padding: 16px 122px;

    background-color: #fb565a;

    color: #ffffff;
    border-radius: 5px;
}
